/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {
    .images {
        position:relative;
        background-repeat: no-repeat;
        top: 10%;
        left: 30%;
        height: auto;
    }
    .ribboncomum{
        display: flex;
        position: relative;
        left: 80%;
        bottom: 300px;
    }
    .ribbonPremium {
        position: relative;
        left: 50%;
        bottom: 50px;
    }
    bottom {
        position: relative;
        top: 30%;
        left: 50%;
    }
}